{% extends 'main.html' %} {% load static %} {% block customcss %} table {
table-layout: fixed; width: 50px; } {% endblock customcss %} {% block name %}{{
name }}{% endblock name %} {% block email %}{{ email }}{% endblock email %} {%
block breadcrumb %}
<div class="toolbar" id="kt_toolbar">
  <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
    <!--begin::Page title-->
    <div class="d-flex align-items-center me-3">
      <!--begin::Title-->
      <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
        SSB
      </h1>
      <!--end::Title-->
      <!--begin::Separator-->
      <span class="h-20px border-gray-200 border-start mx-4"></span>
      <!--end::Separator-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">
          <a href="{% url 'home' %}" class="text-muted text-hover-primary"
            >Laman Utama</a
          >
        </li>
        <!--end::Item-->
        <!--begin::Item-->
        <li class="breadcrumb-item">
          <span class="bullet bg-gray-200 w-5px h-2px"></span>
        </li>
        <!--end::Item-->
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">Blockchain</li>
        <!--end::Item-->
        <!--begin::Item-->
        <!--<li class="breadcrumb-item">
          <span class="bullet bg-gray-200 w-5px h-2px"></span>
        </li>-->
        <!--end::Item-->
        <!--begin::Item-->
        <!--<li class="breadcrumb-item text-dark">None</li>-->
        <!--end::Item-->
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Page title-->
  </div>
</div>
{% endblock breadcrumb %} {% block content %}
<div class="container">
  <div class="row">
    <div class="card shadow-sm">
      <div class="card-header">
        <h3 class="card-title">Senarai Blok</h3>
        <div class="card-toolbar">
          <a href="{% url 'home' %}">
            <button class="btn btn-secondary">Kembali</button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="kt_datatable_example_1" class="table table-row-bordered">
            <thead>
              <tr class="fw-bolder fs-6 text-gray-800">
                <th>No. Blok</th>
                <th>Hash Id</th>
                <th>Hash Sebelumnya</th>
                <th>Tarikh</th>
              </tr>
            </thead>
            <tbody>
              {% for x in recordblockchain_list %} {% comment %} {% if %}{%
              endif %} {% endcomment %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                  <a
                    href="{% url 'block_detail' x.id forloop.counter %}"
                    class="link-primary fw-bolder"
                  >
                    {{ x.hash_id }}
                  </a>
                </td>
                <td>{{ x.prev_hash }}</td>
                <td>{{ x.timestamp }}</td>
              </tr>
              {% endfor %}
            </tbody>
            {% comment %}
            <thead>
              <tr class="fw-bolder fs-6 text-gray-800">
                <th>Block no.</th>
                <th>Hash Id</th>
                <th>Previous Hash</th>
                <th>Data Hash</th>
                <th>Data Signature</th>
                <th>Public key</th>
                <th>Nonce</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody>
              {% for x in recordblockchain_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ x.hash_id }}</td>
                <td>{{ x.prev_hash }}</td>
                <td>{{ x.data_hash }}</td>
                <td>{{ x.data_signature }}</td>
                <td>{{ x.public_key }}</td>
                <td>{{ x.nonce }}</td>
                <td>{{ x.timestamp }}</td>
              </tr>
              {% endfor %}
            </tbody>
            {% endcomment %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block customscript %}

<script>
  $("#kt_datatable_example_1").DataTable();
</script>
{% endblock customscript %}
